.shopify-section:first-child:not(.not-margin) .template-404,
.shopify-section:first-child:not(.not-margin) .template-search {
  margin-top: calc(-1 * var(--header-height));
}

.template-404 .breadcrumb,
.template-search .breadcrumb {
  margin: 0;
}
.template-404 .spinner,
.template-search .spinner {
  width: 1.5rem;
  height: 1.5rem;
}
.template-404 predictive-search:not([loading]) .predictive-search__heading .spinner,
.template-404 predictive-search:not([loading]) .predictive-search__loading-state,
.template-404 predictive-search:not([loading]) .predictive-search-status__loading,
.template-search predictive-search:not([loading]) .predictive-search__heading .spinner,
.template-search predictive-search:not([loading]) .predictive-search__loading-state,
.template-search predictive-search:not([loading]) .predictive-search-status__loading {
  display: none;
}

.template-404 {
  padding-top: calc(var(--header-height) + 2.4rem);
  padding-bottom: 6.4rem;
  background-color: rgb(var(--color-base-background-2));
}
.template-404 .page-header {
  margin-bottom: 0;
  padding-bottom: 0.8rem;
}
.template-404 .search__form-inner .field input[type=search] {
  background-color: rgb(var(--color-background-input));
}

.search__form-text {
  margin-top: 0;
  margin-bottom: 3.2rem;
  max-width: 74.6rem;
  font-size: 1.8rem;
  text-align: left;
  color: rgb(var(--color-foreground));
}
.search-results__top {
  margin-top: 6.4rem;
  margin-bottom: 3.2rem;
}
@media screen and (min-width: 750px) {
  .search-results__top {
    margin-top: 12rem;
  }
}
.search-results__top.first {
  margin-top: 0;
}
.search-results__top h3 {
  margin: 0;
}

.template-search__header {
  padding-top: calc(var(--header-height) + 2.4rem);
  padding-bottom: 4rem;
  background-color: rgb(var(--color-base-background-2));
}
@media screen and (min-width: 750px) {
  .template-search__header {
    padding-bottom: 6.4rem;
  }
}
.template-search .predictive-search .collection-product-card .card-wrapper,
.template-search .predictive-search .collection-product-card .card__inner {
  background-color: transparent;
}
.template-search .predictive-search .template-search__page .card-wrapper {
  background-color: rgb(var(--color-background));
}
.template-search .search__form-inner .field {
  display: block;
}
.template-search .search__form-inner .search__button {
  top: 0.8rem;
  transform: none;
}
.template-search--empty .page-header {
  margin-bottom: 0;
  padding-bottom: 0.8rem;
}

.template-search__page {
  position: relative;
}
.template-search__page .card-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 30rem;
  background-color: rgb(var(--color-base-background-2));
  border-radius: 0.3rem;
  clip-path: inset(0 round 0.3rem);
  transition: clip-path var(--duration-long) cubic-bezier(0.165, 0.84, 0.44, 1);
}
@media screen and (min-width: 750px) {
  .template-search__page .card-wrapper {
    min-height: 34rem;
  }
}
.template-search__page .card-wrapper:hover {
  clip-path: inset(0.5rem round 0.3rem);
  color: rgba(var(--color-foreground-title), 0.6);
}
.template-search__page svg {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5rem;
  height: auto;
  transform: translate(-50%, -50%);
}
@media screen and (min-width: 750px) {
  .template-search__page svg {
    width: 11.5rem;
  }
}

.template-search__search {
  margin: 0 auto;
  max-width: 100%;
}

.template-search__results ul {
  list-style: none;
  margin-top: 0;
}

.card-page {
  display: flex;
  align-items: flex-end;
  height: 100%;
  padding: 3rem;
}
@media screen and (min-width: 990px) {
  .card-page {
    padding: 4rem;
  }
}
.card-page__content {
  position: relative;
  z-index: 1;
}

.collection-results {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2.4rem;
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}
@media screen and (min-width: 750px) {
  .collection-results {
    grid-template-columns: repeat(2, 1fr);
  }
  .collection-results--products {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 990px) {
  .collection-results {
    grid-template-columns: repeat(2, 1fr);
  }
  .collection-results--products {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 1100px) {
  .collection-results {
    grid-template-columns: repeat(3, 1fr);
    gap: 2.4rem;
  }
  .collection-results--products {
    grid-template-columns: repeat(4, 1fr);
    gap: 5.6rem;
  }
}